* {
  box-sizing: border-box;
  margin: 0;
  padding: 0px;
}

body {
  font-family: var(--tipografiaGeneral), sans-serif;
  /* background-color: var(--colorAmarillo); */
}

a {
  color: black;
  font-weight: 400;
  text-decoration: none;
}

li {
  list-style: none;
}

ul,
ol {
  padding: 0;
}
