:root {
    --tipografiaGeneral : "Roboto";
    --colorAmarillo : #EAC926;
    --colorGrisOscuro : #666;
    --colorGrisClaro : #ebebeb;
    --colorAzul : #03264C;
    --colorCeleste : #1259c3;
    --colorVerde : #00a650;

}